html {
    font-family: OpenSans, Calibrie, Verdana, sans-serif, Arial, Tahoma, "Segoe UI";
}

body {
    height: 100%;
    padding: 0;
    width: auto;
}

table {
    background: #000;
}

table, td, th {
    background: #fff;
    border: 1px solid #000;
    border-collapse: collapse;
    color: #000;
    /*cell-spacing: 0;
    cell-padding: 2;*/
}

tr:nth-child(even) td {
    background: #ddd;
}

.none, .none td, .none th {
    border: none;
}

tr:hover td {
    background: #888;
}

.inf {
    color: #008;
}

/*noinspection CssUnusedSymbol*/
.succ {
    color: #0f0;
}

.err {
    color: #f00;
}

/*noinspection CssUnusedSymbol*/
.quest {
    color: #00f;
}

.warn {
    color: #fc0;
}

.info {
    background-color: #00008f;
    border-color: #008;
}

.success {
    background-color: #008f00;
    border-color: #080;
}

.error {
    background-color: #8f0000;
    border-color: #800;
}

.question {
    background-color: #0000f8;
    border-color: #00f;
}

.warning {
    background-color: #fc0;
    border-color: #f8c808;
}

.block {
    -moz-border-radius: 7px;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 7px;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    background: repeat 0 center;
    border: 1px solid;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 1.1em;
    line-height: 200%;
    margin: 2px;
    min-height: 16px;
    outline: 0;
    padding: .3em 2px;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.icon {
    border: none;
    height: 64px;
    margin: 2px;
    width: 64px;
}

kbd {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background: #ccc;
    border: 3px outset #ccc;
    border-radius: 5px;
    font-family: Consolas, Tahoma, Segoe UI, sans-serif, OpenSans;
    padding: 2px;
}

.title {
    text-decoration: underline;
}

h2 {
    color: #088;
}

h3 {
    color: #0ff;
}

/*noinspection CssUnusedSymbol*/
.code-tag, .code-inst {
    color: #00f;
}

.code-cmt {
    color: #0f0;
}

.code-str, .code-id {
    color: #00c0c0;
}

.code-num, .code-class {
    color: #f00;
}

.code-attr {
    color: #c00;
}

.code-val {
    color: #fc0;
}

.code-type {
    color: #800080;
}

/*noinspection CssUnusedSymbol*/
.code-doc, .code-op {
    color: #0ff;
}

.code-var {
    color: #0000c0;
}

.code-keyword {
    color: #f0f;
}

/*noinspection CssUnusedSymbol*/
.nocss {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    clear: none;
    color: inherit;
    float: none;
    content: normal;
    height: auto;
    letter-spacing: normal;
    line-height: normal;
    margin: auto;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    overflow: visible;
    padding: auto;
    page-break-inside: auto;
    position: static;
    text-align: left;
    text-shadow: none;
    text-transform: none;
    transform: none;
    transition: none;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    width: auto;
    word-spacing: normal;
    z-index: auto;
}

#console {
    background: #000;
    border: 2px solid #ccc;
    font-family: Consolas, Tahoma, Segoe UI, sans-serif, OpenSans;
    padding: 0;
    width: 19em;
}

#console td {
    border: none;
    margin: 0;
}

#consoleOut {
    background: #000;
    border: none;
    color: #fff;
    display: block;
    height: 11em;
    width: 100%;
}

#consoleIn {
    background: #000;
    border: 1px solid #fff;
    color: #fff;
    margin: 0;
    width: 100%;
}

#consoleTitle {
    border: none;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}